<h2>Submit a new activity, business or cause</h2>

<%= form_with model: @post, class: "form" do |f| %>
  <div>
    <%= label_tag(:submitted_by_name, "Your Name") %>
    <%= f.text_field :submitted_by_name %>
  </div>
  <div>
    <%= label_tag(:title, "Title") %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= label_tag(:category, "Category") %>
    <%= select_tag "people", options_for_select(Post.categories.map {|k, v| [k.humanize.capitalize, v]}) %>
  </div>
  <div>
    <%= label_tag(:link, "Link to participate/shop/donate:") %>
    <%= f.text_field :link %>
  </div>
  <div>
    <%= label_tag(:body, "Tell us more about how to participate/shop/donate:") %> <br />
    <%= f.text_area :body, size: "60x12" %>
  </div>
  <%= f.submit "Submit Activity" %>
<% end %>
